body {
    margin: 0;
    padding: 0;
}

h1 {
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.alignRight {
    text-align: right;
}